
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report Auto-Recon OSCP by HaoNH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
​
<div class="jumbotron text-center">
  <h1>OSCP-AUTO-RECON</h1>
  <p>Report For 10.10.10.10</p> 
</div>
  
<div class="container">
  
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#Nmap" aria-expanded="true" aria-controls="collapseOne">
                Nmap
              </button>
            </h5>
          </div>
      
          <div id="Nmap" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                      Nmap All Port
                    </div>
                    <div class="card-body">
                        <code>

                        </code>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                      Nmap Detail Port 
                    </div>
                    <div class="card-body">
                        <code>
                            
                        </code>
                    </div>
                </div>
            </div>
          </div>
       </div>  <!-- End block nmap -->

        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#abcd" aria-expanded="true" aria-controls="collapseOne">
                  53 - DNS
                </button>
              </h5>
            </div>
        
            <div id="abcd" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
              <div id="accordion1">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#Nmap1" aria-expanded="true" aria-controls="collapseOne">
                        Nmap
                      </button>
                    </h5>
                  </div>
              
                  <div id="Nmap1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body">
                        <p>xxxxxxxxx</p>
                    </div>
                  </div>
                  <div id="Nmap1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body">
                        <p>xxxxxxxxx</p>
                    </div>
                  </div>
               </div>  <!-- End block nmap -->
               <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#Nmap1" aria-expanded="true" aria-controls="collapseOne">
                      Nmap
                    </button>
                  </h5>
                </div>
            
                <div id="Nmap1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                  <div class="card-body">
                      <p>xxxxxxxxx</p>
                  </div>
                </div>
                <div id="Nmap1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                  <div class="card-body">
                      <p>xxxxxxxxx</p>
                  </div>
                </div>
             </div>
              
              </div>
            </div>
            </div>
        </div>
       
    </div>

</div>
​
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center jumbotron">
  
      <p>Develop by HaoNH</p>
  
    </div>
    <!-- Footer Links -->
  
</footer>
<!-- Footer -->

</body>
</html>
​
